{% extends "main/base.html" %} 
{% block title %} 
   Details {{object.name}}
{% endblock title %} 

{% block site_header %} 
    Details zu {{object.name}}
{% endblock site_header %} 

{% block content %} 
    <h1>{{object.name}}</h1> 
    <ul>  
        <h2 style="text-decoration = none;">Informationen:</h2>
        <li><h4>Art:</h3> <h5>{{object.Type}}</h5></li> 
        <li><h4>Ort:</h4> <h5>{{object.city}}</h5></li> 
        <li><h4>Straße:</h4><h5>{{object.street}}</h5></li> 
        <li><h4>Datum:</h4><h5>{{object.date}}</h5></li> 
        <li><h4>Gästezahl:</h4><h5>{{object.GuestNumber}}</h5></li> 
        <li><h4>Beschreibung:</h4><h5>{{object.description}}</h5></li>
    </ul> 



<style> 
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>


<h2>Benötigtes equipment:</h2> 

<table> 
  <tr>
    <th>Hersteller</th> 
    <th>Name</th> 
    <th>Gewerk</th> 
    
  </tr> 
    {% for equipment in object.equipment_set.all %} 
  
  <tr> 
    <td>{{equipment.fabricator}}</td> 
    <td>{{equipment.name}}</td> 
    <td>{{equipment.labor}}</td> 
    
    
  </tr> 
    {%endfor%} 
   
</table>  





    
{% endblock content %}  






