{% extends "main/base.html" %}

{% block title %} 
    Equipment
{% endblock title %} 

{% block site_header %} 
    Equipment
{% endblock site_header %}

{% block content %} 
 {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
<a href="{% url "neweq" %}" class="btn btn-primary pull-right" role="button">Equipment einlagern</a> 
<div id="list" style="padding-top:50px">
<table class="table" style="border: 1px solid black"> 
    {% for equipment in object_list %}
        <tr>
            <th>{{ equipment.name }} 
                {% with equipment.id|stringformat:"s" as equipment_id %}
                 (<a href="{% url "eqadd"%}?eq={{ equipment_id }}">auswählen</a>) </th>    
                
              
            
            {% empty %}
            <th>Kein Equipment</th>
        </tr>
    </table> 
{% endfor %} 
</div> 

<a href="{% url "delete_session" %}" class="btn btn-primary pull-right" role="button">Speichern</a>

        
        
  
{% endblock content %}