{% extends "main/base.html" %}
 
{% block title %} 
    Dashboard
{% endblock title %} 

{% block site_header %} 
    Dashboard
{% endblock site_header %}

{% block content %}
    <!--alert--> 
        
        
        
        <div id="info1"> 
            <div id="reservations"><h2>26</h2></div>
            <div id="heading"><h5>Neue Reservierungen</h5></div>  
            
            <div id="info2"> 
            <div id="reservations">  <h2> 
              {{number.data}} 
             </h2></div>
            <div id="heading1"><h5>Aufträge heute</h5></div> 
        

{% endblock content %}