
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %} 
    <!--Bootstrap CDN-->
    <link rel="stylesheet"     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--custom css-->
    <link rel="stylesheet" href="{% static "storage/css/dashboard.css" %}">
    <title>Dashboard</title>
  </head>
<body> 
      
      <!--navbar-->
      <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">  
        
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                   
            </div> 
            
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"> 
                    <!--Links-->
                     
                    <li id="site"> <h4>Dashboard</h4> </li>
                   
                    
                   
                    <li id="date"> {{date}} </li>
                  
               
     
               
               <li id="logout">Logout</li>
        
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 
    
    <div class="row affix-row" id="side">
    <div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">Sidebar menu</span>
    </div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul class="nav navbar-nav" id="sidenav01">
        <li class="active">
          <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
          <h4>
          Menue
         
          </h4>
          </a>
          <div class="collapse" id="toggleDemo0" style="height: 0px;">
            <ul class="nav nav-list">
            
            </ul>
          </div>
        </li>
        <li>
          <a href="{% url 'storage' %}" class="collapsed">
          <span class="glyphicon glyphicon-equalizer"></span> Equipment <span class="caret pull-right"></span>
          </a>
          <div class="collapse" id="toggleDemo" style="height: 0px;">
            <ul class="nav nav-list">
            
            </ul>
          </div>
        </li>
        <li class="active">
          <a href="{% url 'clients' %}" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
          <span class="glyphicon glyphicon-user"></span> Kunden <span class="caret pull-right"></span>
          </a>
          <div class="collapse" id="toggleDemo2" style="height: 0px;">
            <ul class="nav nav-list">
              <li><a href="#">asdf2.1</a></li>
              <li><a href="#">Submenu2.2</a></li>
              <li><a href="#">Submenu2.3</a></li>
            </ul>
          </div>
        </li>
        <li><a href="{% url 'assignments' %}"><span class="glyphicon glyphicon-ok"></span> Aufträge</a></li>
        <li><a href="{% url 'bills' %}"><span class="glyphicon glyphicon-usd"></span> Rechnungen <span class="badge pull-right">42</span></a></li>
        <li><a href="{% url 'reservations' %}"><span class="glyphicon glyphicon-bell"></span> Reservierungen</a></li>
      </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
	</div>
	<div class="col-sm-9 col-md-10 affix-content"> 
        <!--alert--> 
        
        
        
        <div id="info1"> 
            <div id="reservations"><h2>26</h2></div>
            <div id="heading"><h5>Neue Reservierungen</h5></div>  
            
            <div id="info2"> 
            <div id="reservations"><h2>3</h2></div>
            <div id="heading1"><h5>Aufträge heute</h5></div> 
        
        </div>  
          
    
        
		<div class="container">
			
				

	</div>
</div> 
        


        
     

      
      
      
    
      
    
  </body>
</html>