<html> 
    <head> 
          <link rel="stylesheet"     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> 
        
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <body> 
            <div class="modal-header" style="background-color:#404040;"> 
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#f2f2f2">&times;</button><h4 style="color:#ff9933; height:10px; padding-bottom:15px;">Warnung!</h4> 
           </div>
<div style="padding-left:10em">            

<h1>Equipment Löschen</h1>

<h6>Wollen Sie  {{ equipment }} wirklich löschen?</h6>

<form action="{% url "storagedelete" pk=equipment.id %}" method="POST">
  {% csrf_token %}

  <input type="submit" class="btn btn-success" value="Ja Löschen." />
  <a href="{% url "storage" %}"class="btn btn-danger" role="button">Nein, Abbrechen.</a>
</form>
    
</div>
            
            
          <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
            


       
        </body>
    </head>
</html>

