
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
        <link rel="stylesheet" href="{% static "main/css/dashboard.css" %}">
        <title>Dashboard</title>
    
  </head>
  <body> 
      <div id=header> 
         
     
            <b>Dashboard</b> 
            
 
      
          <div id=logout><a href = "{% url 'index' %}">logout</a></div>  
          
          <div id=date>{{date}}</div>   
        </div>  
      <div id=calender>
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=office%40nictec.at&amp;color=%231B887A&amp;ctz=Europe%2FVienna" style="border-width:0" width="800" height="400" frameborder="0" scrolling="no"></iframe>
      </div>   
      
       <div id=info> 
        <b>Neue Meldungen:</b> <br> <br> <br> 
           {{news}} 
        <b>Veranstaltungen heute:</b> <br> <br> <br> 
           {{today}} 
        <b>Veranstaltungen Morgen: </b>
       </div> 
      
      <div id=menue></div>
      
    
  </body>
</html>